
.DS_Store
code/.ipynb_checkpoints/cell_death_0_download-checkpoint.ipynb
*.gct
*.csv
!data/Functional/PROGENy.csv
!data/NCI60/NCI60_CTRP_cell_matching.csv
*.txt
*.gctx
code/.ipynb_checkpoints/cell_death_1_preprocess-checkpoint.ipynb
code/cross_check_results.py
code/.ipynb_checkpoints/cell_death_2_model_analysis-checkpoint.ipynb
code/.ipynb_checkpoints/cell_death_7_additional-checkpoint.ipynb
code/.ipynb_checkpoints/cell_death_8_figures-checkpoint.ipynb
code/__pycache__/other_functions.cpython-35.pyc
figures/raw/Fig1B.pdf
figures/raw/SFig5A.pdf
figures/raw/SFig5B.pdf
figures/raw/SFig5C.pdf
figures/raw/SFig5D.pdf
figures/raw/SFig5E.pdf
*.pdf
*.pages
*.png

.Rproj.user

# Shiny related files/paths
*.html
ShinyCellDeathSignatures/data
.Rhistory

*/rsconnect/


# General
.DS_Store
.AppleDouble
.LSOverride



*.tsv
code/.ipynb_checkpoints/cell_death_3_functional_analysis-checkpoint.ipynb
code/.ipynb_checkpoints/cell_death_5_prediction-checkpoint.ipynb
results/model/final_models/achilles.pkl
results/model/final_models/ctrp.pkl
*.xlsx
code/.ipynb_checkpoints/cell_death_4_moa-checkpoint.ipynb
code/proba_affy.py
code/proba_division.py
code/proba_general.py
data/gCSI/compareDrugScreens_current.tar.gz
*.key
*.LST

code/try_merged_similarity.py
